<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Geofier|{% block title %}Home{% endblock title %}</title>
		<link href='http://fonts.googleapis.com/css?family=Arapey' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Economica' rel='stylesheet' type='text/css'>
                <link href='http://fonts.googleapis.com/css?family=Bubbler+One' rel='stylesheet' type='text/css'>	    		
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/bootstrap-theme.min.css" rel="stylesheet">
                <link href="css/jquery.toastmessage.css" rel="stylesheet">
                <link href="css/main.css" rel="stylesheet" type="text/css">
                <link href="css/main_2.css" rel="stylesheet" type="text/css">
		{% block html_head %}{% endblock html_head %}
	</head>

	<body>
		<div class="navbar navbar-default navbar-static-top">
			<div class="jumbotran jumbo_white">
				<div class="container container_broad">
					<div>
						<div class="row">
							<div class="col-lg-2"> <img src="img/geofier_3.png" height="80px" /> </a>
							</div>
							<div class="col-lg-3">
                                                            <h1 class="font_econ"><a href="../public_html"> Geofier <span id="demo_title">Client Demo</span> </a></h1>
							</div>
                                                    <div class="col-lg-5">
                                                        <div class="row"><div class="col-lg-12"><h2 class="font_econ">GeoJSON REST API from alphanumeric DB</h2></div></div>
                                                        <div class="row"><div class="col-lg-12 tag_line">Demo to show some API resources (request and responses) in action.</div></div>                                                        
                                                    </div>
						</div>
					</div>
				</div>
			</div>
		</div>

		{% block content %}
		{% endblock content %}
	</body>
</html>
