<!DOCTYPE html>
<html>
  <head>
     <meta charset="UTF-8"> 
     <title>Welcome to geofier</title>
     <link href='http://fonts.googleapis.com/css?family=Arapey' rel='stylesheet' type='text/css'>
     <link href='http://fonts.googleapis.com/css?family=Economica' rel='stylesheet' type='text/css'>
     <link href='http://fonts.googleapis.com/css?family=Bubbler+One' rel='stylesheet' type='text/css'>
     <link href="../styles/geofier_styles.css" rel="stylesheet" type="text/css">

  </head>

  <body>
     <div id="top_bar" class="font_bub">
       <div class="middle">
	        <img class="welcome_column first" src="../images/geofier_inverted.png" height="70px" /> 
          <div class="welcome_column second font_econ"><h3> Geofier </h3> </div>
          <div class="welcome_column third"><h5>A small PHP software to serve GeoJSON from alphanumeric DB</h5> </div>
       </div>
     </div>
     <div class="middle">
        <p id="first_line"> Welcome to  <a href="http://www.google.com">GEOFIER</a> </p>
     </div>

       <div class="middle">
         <div class="column fifth">

        		<ul id="api" class="p_class">
	        		<li>Go to the <a href="http://www.google.com">API</a></li>
        		</ul></br>
        		<ul id="about" class="p_class">
	        		<li>learn more <a href="http://www.google.com">ABOUT</a> this project</li>
        		</ul></br>
        <p id="version"> This Geofier instance is running version 1.0</p>
         </div>

         <div class="column sixth">
        		<ul class="p_class">
	        		<li>some other text here</li>
        		</ul></br>
         </div>
       </div>
  </body>
