body{
		line-height: 1.5;
    font-size: 90%;
    color: rgb(34, 34, 34);
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    font-family: 'Bubbler One', Arial,Helvetica,sans-serif;
}

h1{
		font-size: 6em;
		text-shadow: 2px 2px 1px rgb(200, 200, 200);
		margin-bottom: 0px;
		line-height: 1;
}

h2 {
		margin: 20px 0px 40px;
		font-size: 2em;
	  text-align:right;
	  line-height: 1.2;
}

h3 {
	  font-size: 1.3em;
	  line-height: 1.2;
	  margin: 0em;
	  text-align: justify;
}

h4 {
	  font-size: 1em;
	  line-height: 1.2;
	  margin: 2em 0em 0.5em 0em;
	  text-align: justify;
}

h5 {
	  font-size: 1em;
	  line-height: 1.2;
}

h1, h2{
	  text-align: center;
}

h1{
		font-family: 'Economica', sans-serif;
}

h3, h4{
		font-family: 'Arapey', serif;
}

h2, h5{
		font-family: 'Bubbler One', sans-serif;
		color: rgb(100, 100, 100);
}

div#main{
		width: 800px;
		margin: 0px auto;
		padding-top: 30px;
		vertical-align: baseline;
}

/* columns..........................................................................*/

div.column {
    width: 350px;
    float: left;
}

div.column.first {
    margin-left: 15px;
    padding-right: 60px;
}

div.column p {
    text-align: justify;
}

p {
    margin: 0px 0px 0.5em;
}

a{
		color:rgb(100,100,100);
}

/* general classes for font variations..........................................................................*/
.color_1{
		color:rgb(100,100,100);
}

.color_2{
		color:rgb(150,150,150);
}

.p_class{
    font-size: 0.9em;
}
.pad{
    padding-left:1em;
}
/* lists..........................................................................*/
ul
{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
ul li
{
	padding-left: 14px;
	font-style:italic;
}
